// Seleção de elementos HTML
const login = document.querySelector(".login"); 
// Seleciona o elemento com classe "login"

const loginForm = login.querySelector(".login__form");
// Seleciona o formulário dentro do elemento "login"

const loginInput = login.querySelector(".login__input");
// Seleciona o campo de texto dentro do formulário de login

const chat = document.querySelector(".chat");
// Seleciona o elemento com classe "chat"

const chatForm = chat.querySelector(".chat__form");
// Seleciona o formulário dentro do elemento "chat"

const chatInput = chat.querySelector(".chat__input");
// Seleciona o campo de texto dentro do formulário de chat

const chatMessages = chat.querySelector(".chat__messages");
// Seleciona o contêiner de mensagens dentro do elemento "chat"

// Array de cores para atribuir aleatoriamente aos usuários
const colors = [
  "cadetblue",
  "darkgoldenrod",
  "cornflowerblue",
  "darkkhaki",
  "hotpink",
  "gold"
];
// Definição de cores para os usuários

// Objeto que armazena informações do usuário
const user = {
  id: "",
  name: "",
  color: ""
};
// Estrutura do objeto usuário com id, nome e cor

// Variável que armazena a conexão WebSocket
let websocket;
// Declaração da variável websocket

// Função para criar elemento de mensagem do próprio usuário
const createMessageSelfElement = (content) => {
  const div = document.createElement("div");
  div.classList.add("message--self");
  div.innerHTML = content;
  return div;
};
// Função para criar mensagem do próprio usuário

// Função para criar elemento de mensagem de outro usuário
const createMessageOtherElement = (content, sender, senderColor) => {
  const div = document.createElement("div");
  const span = document.createElement("span");
  div.classList.add("message--other");
  span.classList.add("message--sender");
  span.style.color = senderColor;
  div.appendChild(span);
  span.innerHTML = sender;
  div.innerHTML += content;
  return div;
};
// Função para criar mensagem de outro usuário

// Função para retornar uma cor aleatória do array colors
const getRandomColor = () => {
  const randomIndex = Math.floor(Math.random() * colors.length);
  return colors[randomIndex];
};
// Função para selecionar cor aleatória

// Função para rolar a tela até o final
const scrollScreen = () => {
  window.scrollTo({
    top: document.body.scrollHeight,
    behavior: "smooth"
  });
};
// Função para rolar tela até o final

// Função para processar mensagens recebidas pelo WebSocket
const processMessage = ({ data }) => {
  const { userId, userName, userColor, content } = JSON.parse(data);
  const message = userId == (link unavailable) ? 
    createMessageSelfElement(content) : 
    createMessageOtherElement(content, userName, userColor);
  chatMessages.appendChild(message);
  scrollScreen();
};
// Função para processar mensagens recebidas

// Função para lidar com o evento de login
const handleLogin = (event) => {
  event.preventDefault();
  (link unavailable) = crypto.randomUUID();
  user.name = loginInput.value;
  user.color = getRandomColor();
  login.style.display = "none";
  chat.style.display = "flex";
  websocket = new WebSocket("wss://chat-on-backend-8vwj.onrender.com");
  websocket.onmessage = processMessage;
};
// Função para lidar com o evento de login

// Função para lidar com o evento de envio de mensagem
const sendMessage = (event) => {
  event.preventDefault();
  const message = {
    userId: (link unavailable),
    userName: user.name,
    userColor: user.color,
    content: chatInput.value
  };
  websocket.send(JSON.stringify(message));
  chatInput.value = "";
};
// Função para lidar com o evento de envio de mensagem

// Adiciona listeners para os eventos de submit dos formulários
loginForm.addEventListener("submit", handleLogin);
chatForm.addEventListener("submit", sendMessage);
// Adiciona listeners para os eventos de submit
